<div class="b" style="padding-left: 180px;">
  <div class="navbar navbar navbar-fixed-top" style="padding-left: 35px;">
    <div class="topNav">
      <div class="container">
        <div class="alignR">
          <div class="pull-left socialNw">
            <a href="#"><span class="icon-twitter"></span></a>
            <a href="#"><span class="icon-facebook"></span></a>
            <a href="#"><span class="icon-youtube"></span></a>
            <a href="#"><span class="icon-tumblr"></span></a>
          </div>
          <a routerLink="../accueil"><span class="icon-home" style="font-size: 20px;">Accueil</span></a>
          <a href="#"><span class="icon-user" style="font-size: 20px;">Mon compte</span></a>
          <a href="#"><span class="icon-edit" style="font-size: 20px;">Inscription gratuite</span></a>
          <a routerLink="../contact"><span class="icon-envelop" style="font-size: 20px;">Contact</span></a>
          <a href="#"><span class="icon-shopping-cart" style="font-size: 20px;">2 produit</span></a>


        </div>
      </div>
    </div>
  </div>
  <!--
  Lower Header Section
  -->
  <div class="container">
    <div id="gototop"> </div>

    <!--
    Body Section
    -->
    <div class="row">
      <div id="sidebar" class="span3">
        <div class="well well-small">
          <ul class="nav nav-list">

            <li><a routerLink="../liste"><span class="icon-chevron-right"></span> Moteur</a></li><hr>


          </ul>
          <ul class="nav nav-list">

            <li><a routerLink="../liste"><span class="icon-chevron-right"></span> Échappement</a></li><hr>


          </ul>
          <ul class="nav nav-list">

            <li><a routerLink="../liste"><span class="icon-chevron-right"></span> Train roulant</a></li><hr>


          </ul>
          <ul class="nav nav-list">

            <li><a routerLink="../liste"><span class="icon-chevron-right"></span> Éclairage</a></li><hr>


          </ul>
          <ul class="nav nav-list">

            <li><a routerLink="../liste"><span class="icon-chevron-right"></span> Climatisation</a></li><hr>


          </ul>
          <ul class="nav nav-list">

            <li><a routerLink="../liste"><span class="icon-chevron-right"></span> Chauffage/ventilation</a></li><hr>


          </ul>
          <ul class="nav nav-list">

            <li><a routerLink="../liste"><span class="icon-chevron-right"></span>  Accessoir</a></li><hr>


          </ul>

        </div>

        <div class="well well-small alert alert-warning cntr">
          <h2>50% de réduction</h2>
          <p>
            <br><a class="defaultBtn" routerLink="liste" >cliquer içi </a>
          </p>
        </div>


        <a class="shopBtn btn-block" routerLink="login">Nouveau article <br><small> cliquer içi</small></a>
        <br>
        <br>
        <ul class="nav nav-list promowrapper">
          <li>
            <div class="thumbnail">
              <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> voir detail</a>
              <img src="../../assets/img1/a.jpg" alt="bootstrap ecommerce templates">
              <div class="caption">
                <h4><a  href="product_details.html">Prix</a> <span class="pull-right">$22.00</span></h4>
              </div>
            </div>
          </li>


        </ul>

      </div>
      <div class="span9">
        <div class="well well-small">
          <div class="row-fluid">
            <div class="span2">
              <img src="../../assets/img1/a.jpg" alt="">
            </div>
            <div class="span6">
              <h5>HP Pioneer TS-A132Ci</h5>
              <p>

                Pioneer TS-A132CI Haut-Parleurs coaxiaux à 2 voies 13 cm (300W) - Puissance max.: 300W - Puissance d'entrée: 50W - Impédance: 4Ohm - Réponse de fréquences : 48-32KHz - Sensibilité: 89dB - Dimension woofer: 12.9 cm - Cône de woofer à matrice de mica multicouche - Dimensions tweeter: 20 mm - Poids: 1.82 Kg
              </p>
            </div>
            <div class="span4 alignR">
              <form class="form-horizontal qtyFrm">
                <h3> 220DT</h3>
                <label class="checkbox">
                  <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                  <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                  <a href="product_details.html" class="shopBtn">VIEW</a>
                </div>
              </form>
            </div>
          </div>
          <hr class="soften">
          <div class="row-fluid">
            <div class="span2">
              <img src="../../assets/img1/b.jpg" alt="">
            </div>
            <div class="span6">
              <h5>2 FEUX PHARE AVANT GOLF 5 LOOK GTI AU VRAI XENON - BALLASTS ET AMPOULES A DECHARGE XENON</h5>
              <p>
                2 FEUX PHARE AVANT GOLF 5 LOOK GTI AU VRAI XENON - BALLASTS ET AMPOULES A DECHARGE XENON
              </p>
            </div>
            <div class="span4 alignR">
              <form class="form-horizontal qtyFrm">
                <h3> 550DT</h3>
                <label class="checkbox">
                  <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                  <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                  <a href="product_details.html" class="shopBtn">VIEW</a>
                </div>
              </form>
            </div>
          </div>
          <hr class="soften">
          <div class="row-fluid">
            <div class="span2">
              <img src="../../assets/img1/c.jpg" alt="">
            </div>
            <div class="span6">
              <h5>Ibiza 2008/2015 ANDROID 3G WIFI Seat Autoradio poste GPS Bluetooth IPOD TV DVBT </h5>
              <p>
                Autoradio Poste Seat Ibiza 06.2008/2015 WIFI 3G ANDROID GPS Bluetooth tv digital Ecran Capacitif tactile 7" HD 1024X600 DVD GPS DVBT IPOD SD USB FM RDS Mémoire interne 8GO, Disque dur jusqu'a 1000GO compatible commande volant - canbus compatible fonctions d'origine et ordinateur de bord Supporte des vidéos HD 1080p
              </p>
            </div>
            <div class="span4 alignR">
              <form class="form-horizontal qtyFrm">
                <h3> 500DT</h3>
                <label class="checkbox">
                  <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                  <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                  <a href="product_details.html" class="shopBtn">VIEW</a>
                </div>
              </form>
            </div>
          </div>
          <hr class="soften">
          <div class="row-fluid">
            <div class="span2">
              <img src="../../assets/img1/d.jpg" alt="">
            </div>
            <div class="span6">
              <h5>Disque de frein et plaquettes Audi A4 </h5>
              <p>
                Disque de frein et plaquettes Audi A4
                constructor:bosh
              </p>
            </div>
            <div class="span4 alignR">
              <form class="form-horizontal qtyFrm">
                <h3> 250DT</h3>
                <label class="checkbox">
                  <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                  <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                  <a href="product_details.html" class="shopBtn">VIEW</a>
                </div>
              </form>
            </div>
          </div>
          <hr class="soften">
          <div class="row-fluid">
            <div class="span2">
              <img src="../../assets/img1/e.jpg" alt="">
            </div>
            <div class="span6">
              <h5>Echappement Akrapovic Evo inox Golf 6 GTI </h5>
              <p>
                Echappement très haute qualité Akrapovic fabriqué en inox pour Volkswagen Golf VI GTI et comprenant les tubes centraux et arrières avec sorties en carbone ou en titane

                - Choisissez votre type de sorties -

                Montage direct

                Fabriqué 100% en inox

                Gain mesuré +3.7cv / +6.0Nm / -5.8kg

                Sorties en Carbone ou en titane de 100mm

                Nécessaire de montage inclus

                Made in Slovenia
              </p>
            </div>
            <div class="span4 alignR">
              <form class="form-horizontal qtyFrm">
                <h3> 4000DT</h3>
                <label class="checkbox">
                  <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                  <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                  <a href="product_details.html" class="shopBtn">VIEW</a>
                </div>
              </form>
            </div>
          </div>
          <hr class="soften">
          <div class="row-fluid">
            <div class="span2">
              <img src="../../assets/img1/f.jpg" alt="">
            </div>
            <div class="span6">
              <h5>CALANDRE VW GOLF 7 GTI STYLE RED</h5>
              <p>
                CALANDRE VW GOLF 7 GTI STYLE RED
              </p>
            </div>
            <div class="span4 alignR">
              <form class="form-horizontal qtyFrm">
                <h3> 200DT</h3>
                <label class="checkbox">
                  <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                  <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                  <a href="product_details.html" class="shopBtn">VIEW</a>
                </div>
              </form>
            </div>
          </div>
          <hr class="soften">
          <div class="row-fluid">
            <div class="span2">
              <img src="../../assets/img1/g.jpg" alt="">
            </div>
            <div class="span6">
              <h5>Original Seat LEON 5F MK3 Aile Coque Rétroviseur Noir 2012 +</h5>
              <p>
                Original Seat LEON 5F MK3 Aile Coque Rétroviseur Noir 2012 +
              </p>
            </div>
            <div class="span4 alignR">
              <form class="form-horizontal qtyFrm">
                <h3> 210DT</h3>
                <label class="checkbox">
                  <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                  <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                  <a href="product_details.html" class="shopBtn">VIEW</a>
                </div>
              </form>
            </div>
          </div>


          <hr class="soften">
          <div class="row-fluid">
            <div class="span2">
              <img src="../../assets/img1/g.jpg" alt="">
            </div>
            <div class="span6">
              <h5>Original Seat LEON 5F MK3 Aile Coque Rétroviseur Noir 2012 +</h5>
              <p>
                Original Seat LEON 5F MK3 Aile Coque Rétroviseur Noir 2012 +
              </p>
            </div>
            <div class="span4 alignR">
              <form class="form-horizontal qtyFrm">
                <h3> 210DT</h3>
                <label class="checkbox">
                  <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                  <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                  <a href="product_details.html" class="shopBtn">VIEW</a>
                </div>
              </form>
            </div>
          </div>
          <hr class="soften">
          <div class="row-fluid">
            <div class="span2">
              <img src="../../assets/img1/g.jpg" alt="">
            </div>
            <div class="span6">
              <h5>Original Seat LEON 5F MK3 Aile Coque Rétroviseur Noir 2012 +</h5>
              <p>
                Original Seat LEON 5F MK3 Aile Coque Rétroviseur Noir 2012 +
              </p>
            </div>
            <div class="span4 alignR">
              <form class="form-horizontal qtyFrm">
                <h3> 210DT</h3>
                <label class="checkbox">
                  <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                  <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                  <a href="product_details.html" class="shopBtn">VIEW</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
